@{
    ViewBag.Title = "About";
}
<link href="~/Content/StyleSheet1.css" rel="stylesheet" />
<h2>@ViewBag.Title.</h2>
<h3>Our Founder</h3>

    <div class="jumbotron container body-content" style="background-image:url(~/Content/Images/jack-jack-attack.jpg)">

        
            <img  src="~/Content/Images/jack-jack-attack.jpg" alt="jakjak" style="max-width: 100%" />
            <p>Jack-Jack was young when he realized he loved music more than anything else. Unfortunately, his parents were too busy 
               saving the world to help him learn the finer things in life <br /> <strong>Don't be his parents </strong> </p>
    </div>

    <div class="row">
        <div class="col-lg-4">
            <h2>
                Policy
            </h2>
            <p>
                These items must stay in the HFAC except during a class event at another location. Students auditioning for a BYU
                School of Music ensemble may check out an instrument 2 weeks before the audition. Instruments must be
                renewed after the audition.<br />
                Music majors can opt to pay a fee ($100/semester, $50/term, $50/breaks) for off-campus use of an instrument.
                This requires filling out a contract and professor approval.
                Divisions can pay fees for a limited number of sponsored students. Experiential learning recipients can request a
                fee waiver.<br />
                All items are issued in good working order and should be returned in the same condition. Report any malfunction
                immediately to the Instrument Office (E-395). Students are financially responsible for any damages caused by
                misuse or neglect.
            </p>
        </div>

        <div class="col-lg-4">
            <h2>
                Benefits of Renting
            </h2>
            <p>
                <ul>
                    <li>
                        Affordable monthly payments - as low as $17 per month!
                    </li>
                    <li>
                        Rent-to-own, until you own it or return it, it's up to you!
                    </li>
                    <li>
                        Cases and pertinent accessories included!
                    </li>
                    <li>
                        Repair & Replacement Plans available!  Keep your instrument in top playing condition!
                    </li>
                    <li>
                        Convenient Service! Rent online or visit us or our partners at 16 locations across the State!
                    </li>
                    <li>
                        Secure Credit Card Payments!
                    </li>
                    <li>
                        Interest-free payment option on ALL instruments!
                    </li>
                    <li>
                        No long term contracts!
                    </li>
                    <li>
                        No penalties for switching instruments or upgrading!
                    </li>
                </ul>

            </p>
        </div>

        <div class="col-lg-4">
            <h2>
                Commitment
            </h2>
            <P>
                At Blowout, our goal is to share our passion for music with you and your family, and help you with all of your musical needs. We pride ourselves for our musical knowledge, and will promise you the best customer service experience you’ll ever find in a music store.
                <br />
                We are proud to provide you with guitars, band & orchestra instruments, print music (including a full line of piano method books), rentals, repairs, drum accessories, and of course any other musical accessory you can imagine. If we don’t have something we will be glad to get it for you! Our goal is to be your #1 music store!
            </P>

        </div>

    </div>
    
