@model IEnumerable<BlowOut.Models.Instrument>
@{
    ViewBag.Title = "Instrument";
}

<h1>Instrument</h1>

<h2>
    @ViewBag.Instrument
</h2>

@if (ViewBag.Instrument == "Trumpet")
{
    <img src='~/Content/Images/Trumpet.jpeg' alt='This should be a picture dang it!' />
}
else if (ViewBag.Instrument == "Trombone")
{
    <img src="~/Content/Images/Trombone.jpeg" />
}
else if (ViewBag.Instrument == "Trumpet")
{
    <img src="~/Content/Images/Tuba.jpeg" />
}
else if (ViewBag.Instrument == "Flute")
{
    <img src="~/Content/Images/Flute.png" />
}
else if (ViewBag.Instrument == "Clarinet")
{
    <img src="~/Content/Images/Clarinet.jpeg" />
}
else
{
    <img src="~/Content/Images/Saxophone.jpeg" />
}

<br /> <br />
<a class="btn btn-default" href="@Url.Action("New", "Rentals", new {id = ViewBag.ID })">New</a> 
<a class="btn btn-default" href="@Url.Action("Used", "Rentals", new {id = ViewBag.ID })">Used</a>







